apiVersion: apps/v1
# kubectl create "deployment" second-app-deployment
kind: Deployment
metadata:
  # kubectl create deployment "second-app-deployment"
  name: second-app-deployment
  labels:
    group: example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: second-app
      tier: backend
    # matchExpressions:
    #   - { key: app, operator: NotIn, values: [second-app, first-app] }
    # operator: In -> app label has value in values reange
  template:
    # this template means pods, so no need to add kind: Pod
    metadata:
      labels:
        app: second-app
        tier: backend
    spec:
      containers:
        # kubectl create deployment second-app-deployment "--image=i1,i2,i3"
        - name: second-node
          image: pcsmomo/kub-first-app:2
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            periodSeconds: 10
            initialDelaySeconds: 5
          resources:
            limits:
              memory: '128Mi'
              cpu: '500m'
        # - name: i2
        #   image:
        # - name: i3
        #   image:
