apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: pcsmomo/kub-demo-users:latest
          env:
            - name: AUTH_ADDRESS
              value: '10.104.105.159'
          # resources:
          #   limits:
          #     memory: '128Mi'
          #     cpu: '500m'
